.loginForm {
  width: 380px;
  height: 480px;
  position: relative;
  background-color: rgba(255,255,255,0.105);
  border: 1px solid rgba(255,255,255,0.196);
  backdrop-filter: blur(20px);
  padding: 5px;
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0,0,0,0.1);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

form input {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #ffffff;
  outline: none;
  background: transparent;
}

a, a:visited {
  color: #fff;
}

input[type="text"],
input[type="password"],
button,
textarea {
font-size: 22px;
padding: 0.25rem;

}

label {
display: flex;
align-items: center;
margin-bottom: 0.5rem;
}


/* label,
button {
margin-top: 1rem;
} */

.loginForm button {
  width: 100%;
  padding: 0.5rem;
  cursor: pointer;
  display: block;
  border: 0;
  outline: none;
  border-radius: 2.5rem;
  border: 2px solid transparent;
  transition: 0.3s ease;
}

button:hover {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #777272;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
  margin-top: 0.35rem;
}

.invalid {
  color: rgb(233, 75, 75);
  margin-left: 0.25rem;
  margin-top: 0.35rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}