.navbar {
  height: 50px;
  border-bottom: 1px solid white;
  
}

.wrapper {
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.wrapper h2 {
  cursor: pointer;
  padding: 0.2rem;
}

.wrapper h2:hover {
  background-color: rgb(206, 195, 195);
  color: black;
  border-radius: 1.5rem;
}

.navbarBtns {
  display: flex;
 
}

.navBtn button {
  cursor: pointer;
  border-radius: 5px;
  font-size: 22px;
  padding: 0.25rem 0.5rem;
}

.navBtn button:hover {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

@media (min-width: 1085px) {
  .navBtn button {
    display: none;
  }
}

