.Left {
  text-align: center;
  float: left;
  width: 10%;
  height: 100%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 1px solid black;
  min-width: 100px;
  display: flex;
  justify-content: flex-start;
}



.button-group button {
  margin: 1rem;
  padding: 1rem;
  cursor: pointer;
  min-width: 55px;
}