.Right {
  /* text-align: center; */
  float: left;
  width: 90%;
  height: 100%;
  /* border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 1px solid black;
  border-right: 2px solid black; */
  /* min-width: 777px; */
  margin: auto;
  padding: 0 5rem 5rem 5rem;
}

@media (max-width: 1085px) {
  .Right {
    width: 100%;
    padding: 0 2rem 2rem 2rem;
  }
  .breifIntro {
    flex-direction: column;
  }
  .breifIntro img {
    width: 335px;
    height: 250px;
    border-radius: 5px;
  }
}
.breifIntro {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
}

.breifIntro p {
  letter-spacing: 2px;
}

.breifIntro img {
  border-radius: 5px;
}

.companyInfoTitle {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.companyInfo {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  /* border: 1px solid black; */
  margin: auto;
}

.companyInfo p {
  letter-spacing: 2px;
}